%h1
  = @type
  Registrations

%p
  Download:
  = link_to "Excel", polymorphic_path(@type, format: "xls")

= render :partial => partials_path(@registrations.first, "index") unless @registrations.empty?

%br

= link_to "New #{@type} Registration", new_polymorphic_path(@type), class: 'btn btn-large btn-primary'
