= simple_form_for(@registration) do |f|
  = f.error_notification

  .form-inputs
    = f.input :type, :as => :hidden
    %fieldset
      %legend Player's name *
      .row
        .span3= f.input :player_first_name, :placeholder => "First", :label => false
        .span3= f.input :player_last_name, :placeholder => "Last", :label => false
      .row
        .span3= f.input :player_nickname, :placeholder => "Nickname"

    %fieldset
      %legend Parent Information 
      .row
        .span3= f.input :father_first_name, :placeholder => "First",
          :label => "Father's name / Parent 1", :required => true
        .span3= f.input :father_last_name, :placeholder => "Last", :label => '&nbsp;'
      .row  
        .span3= f.input :mother_first_name, :placeholder => "First",
          :label => "Mother's name / Parent 2", :required => true
        .span3= f.input :mother_last_name, :placeholder => "Last", :label => false, :label => '&nbsp;'
        .span6
          %br
          .alert.alert-info
            %span.label.label-warning Notice
            %em If there is only one parent, use N/A for the other parent fields

    %fieldset
      %legend Home address *
      .row
        .span9= f.input :address_line_1, :placeholder => "Street address", :label => false, :input_html => {:class => 'input-block-level'}
      .row
        .span9= f.input :address_line_2, :placeholder => "Address Line 2 (optional)", :label => false, :input_html => {:class => 'input-block-level'}
      .row
        .span3= f.input :city, :placeholder => 'City', :label => false
        .span3= f.input :state, :collection => us_states, :selected => 'HI', :label => false
        .span3= f.input :zip_code, :placeholder => "Zip code", :label => false

    %fieldset
      %legend Contact Email Address *
      %p The email address will be used to contact you about MAC volleyball information.
      .row
        .span6= f.input :email_address, :placeholder => 'Email address', :label => false, :input_html => {:class => 'input-block-level'}

    %fieldset
      %legend Contact Phone Information *
      %p The phone numbers you provide will be used to contact you during the volleyball season by the program coordinator, team coach or team parent.
      = phone_number_presence_notice(@registration)
      .row
        .span3
          = f.input :home_phone, :label => "Home phone", :input_html => {:class => 'input-block-level phone', :type => :text}
      .row
        .span3= f.input :father_cell_phone, :label => "Father's cell", :input_html => {:class => 'input-block-level phone', :type => :text}
        .span3= f.input :father_work_phone, :label => "Father's work", :input_html => {:class => 'input-block-level phone', :type => :text}
      .row
        .span3= f.input :mother_cell_phone, :label => "Mother's cell", :input_html => {:class => 'input-block-level phone', :type => :text}
        .span3= f.input :mother_work_phone, :label => "Mother's work", :input_html => {:class => 'input-block-level phone', :type => :text}

    %fieldset
      %legend Emergency Contact
      .row
        .span6= f.input :emergency_name, :input_html => {:class => 'input-block-level'}, :label => "Name"
        .span3= f.input :emergency_phone, :input_html => {:class => 'input-block-level phone', :type => :text}
    %fieldset
      %legend Player's Information
      .row
        .span4
          = f.input :birth_date, :as => :date, :start_year => Date.today.year - 15,  :end_year => Date.today.year, :order => [:month, :day, :year], :use_short_month => true, :prompt => true, :input_html => {:class => 'input-small'}, :label => "Birth date *"

        .span8
          %br
          .alert.alert-info
            %span.label.label-warning Notice
            %em If the child did not play MAC Baseball in 2015, a copy of the child’s birth certificate must be submitted with the payment

      .row
        .span1= f.input :age, :input_html => {:class => 'input-mini', :type => :text, :maxlength => 2}
        .span3= f.input :gender, :collection => genders

      .row
        .span3= f.input :grade, :collection => grades
        .span6= f.input :school, :input_html => {:class => 'input-block-level'}

      .row
        .span6= f.input :division, :collection => baseball_divisions, :as => :radio_buttons

    %fieldset
      %legend Special Requests
      %p Use this area to:
      %ul
        %li Request a coach
        %li Indicate if you are moving your child to a higher age group
        %li Other request
      =f.input :special_requests, :input_html => {:rows => 3, :class => 'input-block-level'}
    %fieldset
      %legend Uniform
      %p Uniform size selection must be made at this time. However, there will be samples available at the Moanalua Pavillion. Changes to uniform sizes will be accepted at that time. An email with the dates will be sent to the email address you provided above.
      .row
        .span3= f.input :shirt_size, :collection => shirt_sizes
        .span3= f.input :pants_size, :collection => pants_sizes

    %fieldset
      %legend Medical Insurance Coverage
      .row
        .span4= f.input :has_medical_insurance, :label => "Medical Insurance Coverage Plan?", :as => :radio_buttons
        .span6= f.input :medical_insurance_name, :label => "Name of Insurance", :input_html => {:class => 'input-block-level'}

    %fieldset
      %legend
        Practice day request 
        %em (optional)
      .row
        .span12
          = f.input :practice_days, :collection => practice_days, :multiple => true, :as => :check_boxes, :label => false, :item_wrapper_class => 'inline'
      .alert.alert-info
        %span.label.label-warning Notice
        %em Practice day requests are not guaranteed

    %fieldset
      %legend Parents as Volunteers
      %p MAC activities are run by parent's such as yourself. Volunteering to coach a team or being a team parent is encouraged. Without enough head coaches, MAC has to turn away interested players.
      .row
        .span8= f.input :volunteer_type, :collection => volunteer_types, :label => false, :as => :radio_buttons, :item_wrapper_class => 'inline'
      .row
        .span8
          %em Head coaches will be contacted ahead of time
    %hr

    = render :partial => partials_path(@registration, 'agreement'), :locals => {:f => f}
    = render :partial => partials_path(@registration, 'fees')
    = render :partial => partials_path(@registration, 'payment')

    .form-actions
      = f.submit 'Submit Registration', :class => 'btn btn-large btn-primary'
