= link_to "PAL Moanalua", root_path, :class => 'brand'
.nav-collapse.in.collapse{:style => "height:auto;"}
  %ul.nav
    - if user_signed_in?
      - if current_user.has_role?(:manager) || current_user.has_role?(:admin)
        %li.dropdown
          = link_to caret("Registrations"), "#", :role => :button, :class => "dropdown-toggle", data: {toggle: :dropdown}
          %ul.dropdown-menu{:role => :menu, "aria-labelledby" => :drop1}
            - Registration.descendants.each do |sport|
              %li= link_to sport.name, polymorphic_path(sport)
          
    - if user_signed_in?
      %li
        = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    - if user_signed_in?
      %li
        = link_to 'Edit account', edit_user_registration_path
      - if current_user.has_role? :admin
        %li
          = link_to 'Admin', users_path